*{
    padding: 0;
    margin: 0;
}
.body {
    height: 3.6rem;
    width: 120rem;
    background-color: #3F475F;
}
.alignItemss {
    width: 71rem;
    height: 3.6rem;
    position: relative;
    margin: auto;
}
.divLeft{
    float: left;
    margin-top: 0.7rem;
}
.divRight{
    float: right;
}
.divFree{
    margin-top: 0.7rem;
    width: 9rem;
    height: 2.2rem;
    background-color: #489AF1;
    border-radius: 2px;
    margin-right: 1.5rem;
}
.logoImg{
    width: 10rem;
    height: 2.2rem;
}
.aFreeButton{
    margin-top: 0.5rem;
}
.aFreeText{
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 1rem;
}
.divFree:hover{
    background-color: #3388E3;
}
.divSignUp{
    margin-top: 1.3rem;
    margin-right: 1.5rem;
    padding-left: 0.5rem;
}
.divSignIn{
    margin-top: 1.3rem;
    padding-right: 0.5rem;
    border-right:0.5px solid #9e9e9e;
}
.signIn-UpText{
    color: #E0EBD2;
    font-size: 13px;
    font-weight: lighter;
}
.divSearch{
    all: unset;
    width: 18rem;
    height: 2.2rem;
    background-color: #2F3546;
    border-radius: 2px;
    color: #FFFFFF;
    padding-left: 10px;
    position: absolute;
}
.divLeftSearch{
    float: left;
    margin-top: 0.7rem;
    margin-left: 7rem;
}
.divSearchTrue{
    all: unset;
    width: 18rem;
    height: 2.2rem;
    background-color: #FFFFFF;
    border-radius: 2px;
    color:black;
    padding-left: 10px;
    position: absolute;
}
::-webkit-input-placeholder {
    color: #9e9e9e;
    font-size: 13px;
 }
 
 :-moz-placeholder { /* Firefox 18- */ 
    color: #9e9e9e;
    font-size: 13px;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */ 
    color: #9e9e9e;
    font-size: 13px;
 }
 
 :-ms-input-placeholder {   
    color: #9e9e9e;
    font-size: 13px;
 }
 .signIn-UpText:hover{
     text-decoration: underline;
 }
 .searchImg{
     width: 1.5rem;
     height: 1.5rem;
     position: absolute;
     margin-left: 16.5rem;
     margin-top: 0.3rem;
 }
 .searchImgTrue{
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    margin-left: 16.5rem;
    background-color: #3388E3;
 }
 .categoryLink{
     color: blue;
     text-decoration: none;
     font-weight: 200;
 }
 .categoryLink:hover{
    text-decoration: underline;
    font-weight: 200;
 }
 .categoryMargin{
     margin-top: 0.4rem;
     margin-left: 2rem;
 }
 .divLeft{
    float: left;
}
.divRight{
    float: right;
}
.divCategory{
    width: 15rem;
    position: relative;
    margin-bottom: 1.5rem;
}
.divShoppingText{
    color: blue;
    font-weight: 600;
    font-size: 14px;
    margin: auto;
}
.divShoppingText:hover{
    text-decoration: underline;
}
.divShopping{
    display: inline;
    margin: auto;
    position: absolute;
    width: 7rem;
}
.cardImg{
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    margin-right: 0.7rem;
}
.prodImg{
    width: 9.8rem;
    height: 5rem;
    vertical-align: middle;
}
.divProd{
    display: inline-block;
    vertical-align: middle;
}
.productsBody{
    width: 55rem;
    border: 1px solid #9e9e9e;
    display: block;
}
.tsgDiv{
    width: 7rem;
    height: 2.5rem;
    border: 1px solid #9e9e9e;
    border-bottom: none;
    margin-right: 0.5rem;
    border-radius: 0.1rem;
}
.tsgSpanDiv{
   margin-top: 0.5rem;
   margin-left: 0.9rem;
}
.prodCompTsg{
    display: inline-block;
}
.tsgSpan{
    font-weight: bold;
    font-size: 14px;
    color: #1b1b1b;
}
.tsgDivFalse{
    width: 7rem;
    height: 2.5rem;
    border: 1px solid #9e9e9e;
    border-bottom: none;
    background-color: #82b3c9;
    margin-right: 0.5rem;
    border-radius: 0.1rem;
}
.tsgSpanFalse{
    color: #01579b;
    font-weight: bold;
    font-size: 14px;
}
.tsgLink{
    text-decoration: none;
}
.productsHeadImg{
    width: 9.8rem;
    height: 1.5rem;
    background-color: #E9E9E9;
    float: left;
    margin-top: 0.5rem;
    margin-right: 0.1rem;
}
.productsHeadTitle{
    width: 37rem;
    height: 1.5rem;
    background-color: #E9E9E9;
    float: left;
    margin-top: 0.5rem;
    margin-right: 0.1rem;
}
.productsHeadPrice{
    width: 8rem;
    height: 1.5rem;
    background-color: #E9E9E9;
    float: left;
    margin-top: 0.5rem;
}
.productsHeadSpan{
    display: table;
margin-right: auto;
margin-left: auto;
}
.selectSort{
    width: 13.17rem;
    height: 1.625rem;
}
.productsbod{
    width: 55rem;
}
.divMBottom{
    margin-top: 1rem;
}
.divProdImg{
    width: 9.8rem;
}
.divProdTitle{
    width: 37rem;
    color: #0d47a1;
}
.divProdPrice{
    width: 8rem;
    color: #c62828;
}
.divProdSpan{
    display: table;
    margin-right: auto;
    margin-left: auto;
}
.divProdFalse{
    background-color: #ffffff;
}
.divProdTrue{
    background-color: #eeeeee;
}
.divProdTrue:hover{
    background-color: #f1f8e9;
}
.divProdFalse:hover{
    background-color: #f1f8e9;
}